@import '../../../global';

mat-expansion-panel {
    color: $marino;
    border-bottom: 1px solid $azul-oscuro;
}

.red {
    color: red;
}
.green {
    color: green;
}

td {
    border-color: black !important;
}

.off {
    color: $naranja;
}

.valid {
    color: $azul-oscuro;
}