@import '../../../_global.scss';

.example-card {
    border-radius: 0px 0px 15px 0px;
    max-width: 100%;
    background-color: $azul-oscuro;
    overflow: hidden;
    -webkit-border-radius: 0px 0px 15px 0px;
    -moz-border-radius: 0px 0px 15px 0px;
    -ms-border-radius: 0px 0px 15px 0px;
    -o-border-radius: 0px 0px 15px 0px;
    height: 74px;
    padding-bottom: 0;
    color: $marino;
    &:hover {
      box-shadow: $azul-claro;
    }
  }
  
  hr {
    border: 1px solid $marino;
    padding: 0;
    margin: 0;
  }
  .header-image {
    background-image: url('../../../assets/img/messages_fast.gif');
    z-index: 2;
    background-size: cover;
  }

  mat-card {
    &:hover{
      background-color: $naranja-03;
    }
    &:active{
      background-color: $naranja;
    }
  }
  
  mat-card-title {
    font-weight: bold;
    height: 25px;
    
  }

  mat-card-subtitle{
    height: 25px;
  }

  .off {
    background-color: $azul-claro;
  }
  
  mat-card-title, mat-card-subtitle {
    overflow: hidden;
    
  }
  
  @media screen and (max-width: 800px) {
    div > div {
      background-color: red;
    }
    mat-card-title, mat-card-subtitle {
      display: none;
      
    }
  }