@import '../../../global';

.modal, .card {
    background-color: $azul-claro;
}

.modal {
    height: initial;
}

.form-group {
    margin-top: 2px;
    margin-bottom: 2px;
}

.form-row {
    width: 100%;
}

.column-half, .column-full {
    float: left;
    position: relative;
    padding: 0.65rem;
    width: 100%;
    box-sizing: border-box;
    color: $azul-oscuro;
}
.column-half{
    width: 50%;
}

.clearflix:after {
    content: "";
    display: table;
    clear: both;
}

input{
    color: $naranja;
}

input:read-only{
    color: $marino;
    background-color: $azul;
}

input:focus:read-only{
    background-color: $azul;
    color: $azul-claro;
    font-weight: lighter;
}

input:focus{
    background-color: $naranja-03;
    color: $azul-oscuro;
    font-weight: bold;
}