@import '../../../global';
* {
    box-sizing: border-box;
    color:$marino;
    margin: 0;
    padding: 0;
    
}
body, html {
    overflow: hidden !important;
}
.parts {
    margin-left: 1%;
    margin-top: 1vh;
    width: 98%;
    display: grid;
    height: 98vh;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr 8fr 1fr;
    background-color: $azul-claro;
    .info-chat {
        z-index: 3;
        grid-column: 1 / 3;
        grid-row: 2 / 4;
        width: 100%;
        height: 100%;
        background-color: $azul;
        overflow-y: auto;
    }
    .mensajes {
        z-index: 2;
        grid-column: 3 / 12;
        grid-row: 2;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        scroll-behavior: smooth;
        scroll-margin-block-end: 5px;
    }
    .sendMensajes {
        z-index: 1;
        grid-column: 3 / 12;
        grid-row: 3;
        width: 100%;
        height: 100%;
        background-color: $azul-oscuro;
    }
    .infoUser {
        z-index: 1;
        grid-column: 3 / 12;
        grid-row: 1;
        width: 100%;
        height: 100%;
        background-color: $azul-oscuro;
    }
    .searchChat {
        overflow-y: auto;
        z-index: 1;
        grid-column: 1 / 3;
        grid-row: 1;
        width: 100%;
        height: 100%;
        background-color: $marino;
    }
}