<div class="parts">
    <app-search-chat class="searchChat" (nuevoChat)="createChat($event);"></app-search-chat>
    <app-info-user [user]="chatSelected" class="infoUser"></app-info-user>
    <app-info-chat [dataChats]="infoChat" (selectChat)="openChat($event);this.filterMessagesByChatSelected();" class="info-chat"></app-info-chat>
    <app-mensajes [selectedChat]="chatSelected" [mensajesChat]="mensajes" class="mensajes"></app-mensajes>
    <app-send-message [chat]="chatSelected" [idUsuario]="userLogging?.id_usuario"
        (mensajeReceived)="getMessage($event)" class="sendMensajes"></app-send-message>
</div>
