<div id="mensajes" >
    <div class="wrapper" *ngFor="let mensaje of mensajesChat">
        <div class="wrapper-izq" *ngIf="mensaje.id_usuario != usuarioLogged.id_usuario">
            <div class="mensaje-izq">
                <span>{{mensaje.mensaje}}</span>
            </div>
        </div>
        <div class="wrapper-der" (click)="setScrollDown()" *ngIf="mensaje.id_usuario == usuarioLogged.id_usuario">
            <div class="mensaje-der" >
                <span>{{mensaje.mensaje}}</span>
            </div>
        </div>
    </div>
    <div id="scrollDown"></div>
</div> 
    
    