<div class="register">
    <form class="custom-form" method="POST" [formGroup]="registerForm">
      <h1>Register</h1>
      <input
        type="text"
        formControlName="usuario"
        name="username"
        placeholder="Usuario"
        required="required"
        autocomplete="username"
      />
      <input
        type="text"
        formControlName="name"
        name="nombreCompleto"
        placeholder="Nombre Completo"
        required="required"
        autocomplete="Nombre Completo"
      />
      <input
        type="password"
        formControlName="password"
        name="password"
        placeholder="Password"
        required="required"
        autocomplete="current-password"
      />
      <button type="submit" [disabled]="registerForm.pristine || registerForm.invalid" (click)="register()">Register</button>
      <button type="button" [routerLink]="['/login']">Login</button>
    </form>
      
    </div>