$azul-oscuro: #4E7D96;
$azul: #9FC9DD;
$azul-09: rgb(159, 201,221, 0.7);
$azul-claro: #E3EDF2;
$naranja: #FF844B;
$marino: #0a0d25;

.example-card {
  display: flex;
    border-radius: 0px 0px 15px 0px;
    max-width: 100%;
    background-color: $azul-oscuro;
    overflow: hidden;
    -webkit-border-radius: 0px 0px 15px 0px;
    -moz-border-radius: 0px 0px 15px 0px;
    -ms-border-radius: 0px 0px 15px 0px;
    -o-border-radius: 0px 0px 15px 0px;
    height: fit-content;
    padding-bottom: 0;
    align-items: flex-end;
    justify-content: flex-start;
    &:hover {
      box-shadow: blue;
    }
  }
  
  .example-header-image {
    background-size: cover;
  }
  
  mat-card-title {
    font-weight: bold;
    overflow: hidden;
    text-align: center;
    text-justify: newspaper;
  }