<div class="login">
  <form class="custom-form" method="POST" [formGroup]="loginForm" novalidate>
    <h1>Login</h1>
    <input
      type="text"
      formControlName="usuario"
      name="usuario"
      placeholder="usuario"
      required="required"
      autocomplete="usuario"
    />
    <input
      type="password"
      formControlName="password"
      name="password"
      placeholder="Password"
      required="required"
      autocomplete="current-password"
    />
    
    <button (mouseover)="setMessageErrorOn(true)" (mouseout)="setMessageErrorOn(false)" type="submit" [disabled]="" (click)="login();">Log in</button>
    <div *ngIf="clicked === true">
      <div *ngIf="loginForm.pristine || loginForm.invalid"
      class="alert alert-danger align-middle" role="alert">
        Vuelve a intentarlo
      </div>
    </div>
    <button type="button" [routerLink]="['/register']">Register</button>
   
  </form>
    
  </div>