$azul-oscuro: #4E7D96;
$azul: #9FC9DD;
$azul-claro: #E3EDF2;
$naranja: #FF844B;
$naranja-03: #ff844bbd;
$marino: #0a0d25;

body{
    background-color: $naranja-03;
    background-image: url('../../../assets/img/messages_fast.gif');
}
.custom-form {
    color: $marino;
    min-width: 300px;
    max-width: 40%;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 3rem;
    margin: auto;
    border-radius: 2.5rem;
    background-color: #ecf0f3;
    box-shadow: 3px 3px 10px #cbced1, -3px -3px 10px #ffffff;
    margin-top: 10rem;

    div {
        margin: 2rem 0rem;
        .alert{
            border-radius: 2.5rem;
            text-align: center;
            font-weight: bold;
        }
    }

    input {
        display: block;
        margin: 2rem 0;
        width: 100%;
        border-radius: 0.5rem;
        padding: 1rem;
        border: none;
        box-shadow: inset -5px -5px 15px $azul-claro, inset 5px 5px 10px
        $azul;
        border: 0 none;
        background: #ebf5fc;
      }
      button {
          
        text-transform: uppercase;
        letter-spacing: 0.15em;
        border: none;
        font-size: 0.875rem;
        color: #ffffff;
        font-weight: bold;
        background-color: $naranja-03;
        width: 100%;
        display: block;
        padding: 0.875rem 1rem;
        border-radius: 1.2rem;
        box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
        cursor: pointer;
        margin-top: 2rem;
        &:active{
            box-shadow: 7px 7px 8px $naranja, 7px 7px 8px #ffffff;
        }
      }
      button[type="button"] {
        background-color: $azul-oscuro;
        box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
        &:active{
            box-shadow: 7px 7px 8px $azul-oscuro, 7px 7px 8px #ffffff;
        }
    }
  }